.ant-modal-content {
  overflow: auto;
  border-radius: 10px;
}

.example {
  height: 200px;
  overflow-y: scroll; 
  flex-direction: "row";
  justify-content: "flex-end"

}

.example::-webkit-scrollbar {
    display: none;
}

.example {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}



